.discography {
  color: var(--white);

  &-flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;
  }

  &__img {
    display: block;
    width: 250px;
    height: 250px;
  }

  &__info {
    margin-top: 18px;
  }

  &__h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    margin: 0;
  }

  &__year {
    color: var(--color-light);
  }
}