:root {
   --font-color: #cacaca;
   --bg: #08020d;
   --white: #ffffff;
   --color-light: #e0e0e0;
   --color-dark: #3c3b3d;
   --color-green: #34c176;
   --color-orange: #f89202;
   --color-violet: #5328A1;
   --color-carrot: #95390c;
}